root = true

[*]
end_of_line = crlf
indent_style = space
indent_size = 2
charset = utf-8

[*.cs]
indent_size = 4
csharp_new_line_before_open_brace = types, methods
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_indent_switch_labels = false
csharp_indent_labels = one_less_than_current
